.usersPage__container {
  height: 100vh;
  background: url("../../assets/images/mainBg.jpg");
  background-position: right top;
}

.usersPage__main {
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.usersPage__title {
  font-size: 3.5rem;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.usersPage__divider {
  background-color: white;
  height: 3px;
  margin-bottom: 3rem;
  width: 92%;
}

.usersPage__utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.usersPage__utils--button {
  border-radius: 30px;
  background-color: #465aa7;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 1.1rem;
  border: none;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.usersPage__utils--button:hover {
  background-color: white;
  color: #465aa7;
}

.usersPage__utils--search {
  border-radius: 30px;
  background-color: white;
  width: 350px;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type]::placeholder {
  text-align: center;
  color: gray;
  font-weight: 400;
  font-size: 1.2rem !important;
  font-weight: 300;
}

.search--input {
  border: none;
  outline: none;
  margin-left: 3rem;
  color: black !important;
}

.usersPage__table {
  margin-top: 2.5rem;
}

.usersPage__table table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 33px;
  overflow: hidden !important;
  width: 100%;
}

.usersPage__table th {
  background-color: #465aa7 !important;
  color: white !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 0 !important;
  margin: 0 !important;
  display: table-cell;
  padding: 5px !important;
  border-top-color: blue !important;
}

.ant-table-cell {
  padding: 10px !important;
  border: 1px solid lightgray;
}

select {
  border: none;
  padding: 3px;
  cursor: pointer;
  outline: none;
}

.active {
  visibility: visible;
}

.add-user-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #da3748;
  padding: 8px 20px;
  color: white;
}
.add-user-modal-header h2,
.password-modal-header h2 {
  font-size: 20px;
  font-weight: 600;
}
.add-user-modal-close-icon,
.password-modal-close-icon {
  cursor: pointer;
}

.add-user-modal-form {
  background-color: white;
}

.top-inputs {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}
.bottom-inputs {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}
h5 {
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif !important;
  color: #333;
  font-size: 13px;
}
.add-user-modal-input {
  background-color: rgb(236, 236, 236);
  width: 200px;
  margin-right: 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
}

.add-user-modal-button {
  width: 110px;
  border-radius: 33px;
  border: none;
  padding: 7px 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  background-color: #465aa7;
  color: white;
  font-size: 11px;
  margin-left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.disableButton {
  cursor: not-allowed;
}

.password-modal-header {
  background-color: #da3748;
  padding: 8px 20px;
  color: white;
  position: relative;
  text-align: center;
}

.password-modal-close-icon {
  position: absolute;
  top: 7px;
  right: 10px;
}

.password-modal-form {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-modal-input {
  background-color: rgb(236, 236, 236);
  width: 250px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.password-modal-button {
  width: 130px;
  border-radius: 33px;
  border: none;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #465aa7;
  color: white;
  font-size: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* .cargo-table{
  table{

    th {
      background-color: rgba(46,49,49,0.5) !important;
      color: white !important;
      font-size: 11px !important;
      font-weight: 500 !important;
    }
    td{
      min-width: 140px !important;
      font-size: 11px !important;
    }

    .hide {
      visibility: hidden;
    }
  }
  
} */
